= semantic_form_for [:admin, @customer], builder: ActiveAdmin::FormBuilder do |f|
  = f.inputs do
    = input :full_name, as: :string
    = input :phone_number, as: :string
    = input :email, as: :string
    = input :notes, as: :text
    = input :customer_image, as: :file
    = f.actions
