<section>
    <h3><%= customer.full_name %></h3>
    <p><%= customer.phone_number %></p>
    <p><%= customer.email %></p>
    <p><%= customer.notes %></p>
    <%= image_tag url_for(customer.image) %>
</section>