<section>
    <h3><%= customer.full_name || "no name provided" %></h3>
    <p>Phone Number: <%= customer.phone_number || "no phone_number provided" %></p>
    <p>Email: <%= customer.email || "no email provided" %></p>
    <p>Notes: <%= customer.notes || "no notes provided" %></p>
    <% if customer.image.attached? %>
        <%= image_tag url_for(customer.image) %>
    <% else %>
        <p>No image attached.</p>
    <% end %>
</section>